{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Group' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/groups.css' %}" rel="stylesheet">
  <link href="{% static 'css/group_tabs.css' %}" rel="stylesheet">
  <script src="{% static 'js/group_tabs.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'ask' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-user"></span> {% trans "Join Group" %}
    </a>
    <a href="{% url 'create_group' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-plus"></span> {% trans "New Group" %}
    </a>
    <h1>{% trans "Groups" %}</h1>
  </div>


<div class="tab">
  {% for group in groups %}
    {% if group.group_name == 'Birnbaum Lab' %}
      <button class="tablinks" onclick="openCity(event, '{{ group.group_name }}')" id="defaultOpen">{{ group.group_name }}</button>
    {% else %}
      <button class="tablinks" onclick="openCity(event, '{{ group.group_name }}')">{{ group.group_name }}</button>
    {% endif %}
  {% endfor %}
</div>

{% for group in groups %}

  <div id={{ group.group_name }} class="tabcontent">
    <h3>{{ group.group_name }}</h3>
    <p>{{ group.description }}.</p>
  </div>

{% endfor %}

{% endblock main %}