{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Group' %}{% endblock %}


{% block head %}
  <link href="{% static 'css/groups.css' %}" rel="stylesheet">
  <link href="{% static 'css/group_tabs.css' %}" rel="stylesheet">
  <link href="{% static 'css/w3.css' %}" rel="stylesheet">
  <script src="{% static 'js/group_tabs.js' %}"></script>
  <script src="{% static 'js/groups.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'join_request' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-user"></span> {% trans "Join Group" %}
    </a>
    <a href="{% url 'create_group' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-plus"></span> {% trans "New Group" %}
    </a>
    <h1>{% trans "Groups" %}</h1>
  </div>

{% for message in messages %}
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
  </div>
{% endfor %}


{% for membership in user.membership_set.all %}
  <button class="accordion">{{ membership.group.group_name }}</button>
  <div class="panel">
      {% include 'groups/partial_group.html' with group=membership.group user=user admin_groups=admin_groups %}
  </div>
{% empty %}
  <h4 class="no-data">{% trans "No groups to display, try joining one!" %}</h4>
{% endfor %}

<script> startAccordion(); </script>

{% endblock main %}
