{% extends 'base.html' %}
{% load i18n %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'groups' %}">{% trans 'Groups' %}</a></li>
    <li class="active">{% trans 'Manage Group' %}</li>
  </ol>
  <form action="{% url 'manage_group' group_id %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {% if field.label == 'Description' %}
            {% include 'markdown_editor.html' with textarea='id_description' %}
          {% endif %}
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    {% for form in formset %}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {% if field.label == 'Status' %}
            {% for radio in field.status %}
              <label for="{{ radio.id_for_label }}">
                  {{ radio.choice_label }}
              <span class="radio">{{ radio.tag }}</span>
            </label>
          {% endfor %}
          {% endif %}
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    {% endfor %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{% trans 'Edit Group' %}</button>
        <a href="{% url 'groups' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
      </div>
    </div>
    
  </form>
{% endblock main %}
