{% load i18n %}
{% load humanize %}

<h3>{{ group.group_name }}</h3>
<p><b>Description:</b> {{ group.description }}</p>


<p>Members:</p>
{% for membership in group.membership_set.all %}

  {% if membership.user == user %}<b>{% endif %}

  {% if membership.status == 1 %} 
    {{ membership.user.username }} <i>(Request Pending)</i>
  {% elif membership.status == 2 %}
    {{ membership.user.username }} 
  {% elif membership.status == 3 %}
    {{ membership.user.username }} <i>(Admin)</i>
  {% endif %}

  {% if membership.user == user %}</b>{% endif %}

  <br>
  
{% empty %}

  <i>No current members!</i>

{% endfor %}

<div class="row membership" membership-id="{{ membership.id }}">
  {% csrf_token %}

  {% if group in admin_groups %}

    <a href="{% url 'manage_group' group.id %} " class="btn btn-primary pull-right manage-group">
      <span class="glyphicon glyphicon-cog"></span> {% trans "Manage Group" %}
    </a>

  {% endif %}

  <a href="{% url 'groups' %}" class="btn btn-primary pull-right leave-group">
    <span class="glyphicon glyphicon-remove"></span> {% trans "Leave Group" %}
  </a>

</div>
<br>

